<div class="sidebar-backdrop" (click)="closeSidebar()"></div>
<div class="offcanvas offcanvas-start show bg-white">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Projekty</h5>
    <button type="button" class="btn-close" (click)="closeSidebar()"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Projekt 1</li>
      <li class="list-group-item">Projekt 2</li>
      <li class="list-group-item">Projekt 3</li>
    </ul>
  </div>
</div>
