<div class="lp-page">

  <!-- Logo -->
  <div class="lp-logo-wrapper">
    <img class="lp-logo" src="assets/logo/Logo_light.svg" alt="Launchpad"/>
  </div>

  <!-- Card -->
  <div class="lp-card">
    <div class="lp-card-body">

      <h4 class="lp-title">Register</h4>

      <form [formGroup]="registerForm" (ngSubmit)="registerUser()">

        <!-- Full name -->
        <div class="lp-field">
          <label class="lp-label" for="full-name">Full Name</label>
          <input id="full-name" class="lp-input" type="text" formControlName="fullName" placeholder="John Doe">
        </div>
        <!-- Email -->
        <div class="lp-field">
          <label for="username" class="lp-label">E-mail</label>
          <div class="lp-input-group">
            <input id="username" formControlName="username" type="email"
                   class="lp-input" placeholder="johndoe@example.com">
          </div>
        </div>

        <!-- Password -->
        <div class="lp-field">
          <label for="password" class="lp-label">Password</label>
          <div class="lp-input-group">
            <input id="password" formControlName="password" type="password"
                   class="lp-input" placeholder="••••••••••••">
          </div>
        </div>

        <div class="lp-card-footer">
          <!-- Register -->
          <div>
            <button type="button" class="lp-btn" routerLink="/register">
              Register
            </button>
          </div>
          <!-- Submit -->
          <div>
            <button type="submit" class="lp-btn">
              Log in
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>
